@model KreditMotorDomain.Model.Pembayaran.Cicilan.PrintLaporan
@using System;
@using System.Globalization;

@{
    Layout = null;

    var tenor = Model.laporan.First().modelTransaksiKredit.tenor;
    var jumlah = Model.laporan.Count;
    var sisa = tenor - jumlah;
    var lunas = 0;
    var total = 0;
    var jmlCicilan = Model.laporan.First().modelTransaksiKredit.cicilan * tenor;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
    <link rel="stylesheet" href="~/assets/modules/bootstrap/css/bootstrap.min.css">
    <style>
        @@media print {
            @@page {
                margin: 0;
            }

            body {
                margin: 1.6cm;
            }

            .printpage {
                display: inline
            }

            .btn-back {
                display: none;
            }
        }
    </style>
</head>


<body>
    <h2 style="text-align:center">Laporan Simulasi Cicilan</h2>

    <div class="container">
        @*<p>No Kredit</p>
            <p>Nama Pelanggan</p>
            <p>Motor</p>
            <p>Tenor</p>*@
        <table>
            <thead>
                <tr>
                    <th style="width:200px">
                        No Kredit
                    </th>
                    <th>
                        :
                    </th>
                    <th>
                        @Model.laporan.First().no_kredit
                    </th>
                </tr>
                <tr>
                    <th>
                        Nama Pelanggan
                    </th>
                    <th>
                        :
                    </th>
                    <th>
                        @Model.laporan.First().modelTransaksiKredit.modelPelanggan.nama_pelanggan
                    </th>
                </tr>
                <tr>
                    <th>
                        Motor
                    </th>
                    <th>
                        :
                    </th>
                    <th>
                        @Model.laporan.First().modelTransaksiKredit.modelMotor.merk
                    </th>
                </tr>
                <tr>
                    <th>
                        Tenor
                    </th>
                    <th>
                        :
                    </th>
                    <th>
                        @Model.laporan.First().modelTransaksiKredit.tenor Bulan
                    </th>
                </tr>
                <tr>
                    <th>
                        Tanggal Jatuh Tempo
                    </th>
                    <th>
                        :
                    </th>
                    <th>
                        Setiap Tanggal @Model.laporan.First().modelTransaksiKredit.tgl_verif.GetValueOrDefault().ToString("dd")
                    </th>
                    
                </tr>
                <tr>
                    <th>
                        Total Keseluruhan
                    </th>
                    <th>
                        :
                    </th>
                    <th>
                        @jmlCicilan.ToString("C2", CultureInfo.CurrentCulture)

                    </th>
                </tr>
            </thead>
        </table>
        <p style="margin-top:20px">Rincian Detail Hutang :</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Cicilan</th>
                    <th>Jumlah Cicilan</th>
                  
                    <th>Sisa Hutang</th>
                   
                </tr>
            </thead>
            <tbody>
                @{

                    var x = 0;
                    for (int i = 0; i < tenor; i++)
                    {
                        x++;
                        jmlCicilan = jmlCicilan - Model.laporan.First().modelTransaksiKredit.cicilan;

                <tr>
                    <td>
                       Cicilan Ke @x
                    </td>
                    <td>
                        @Model.laporan.First().modelTransaksiKredit.cicilan.ToString("C2",CultureInfo.CurrentCulture)
                    </td>
                    <td style="text-align:left">
                        @jmlCicilan.ToString("C2", CultureInfo.CurrentCulture)
                    </td>
                </tr>

                        }
                    }
                

            </tbody>

        </table>

        <a asp-controller="Laporan" asp-action="Index" class="btn btn-primary btn-back">Back</a>
    </div>
    <script>
        window.print();
    </script>
</body>
</html>
